* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  line-height: 1.7;
  word-spacing: 0.1rem;
  letter-spacing: 0.05rem;
}

/* body {
  background-color: #F7F7F7;
  background-color: #000000;
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.43rem 2.8rem;
  background-color: #000000;
  color: white;

  .title {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .user-name {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/* Page Title */
  .page-title {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }